apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-ini
  namespace: monitoring
  labels:
    app: grafana
data:
  grafana.ini: |
    [analytics]
    check_for_updates = true
    [grafana_net]
    url = https://grafana.net
    [log]
    mode = console
    [paths]
    data = /var/lib/grafana/data
    logs = /var/log/grafana
    plugins = /var/lib/grafana/plugins
    [smtp]
    enabled = true
    host = smtp.gmail.com:587
    user = yosoifalso@gmail.com
    # If the password contains # or ; you have to wrap it with triple quotes. Ex """#password;"""
    password = istbshvaonaiuska
    # If https enabled
    cert_file =
    key_file =
    skip_verify = true
    from_address = grafana.monitoringalert@gmail.com
    from_name = Grafana
    ehlo_identity =